{% extends "layouts/base.njk" %}
{% block content %}
<section class="mx-auto max-w-7xl px-6 py-10">
  <h1 class="text-3xl font-extrabold tracking-tight text-sky-600">{{ title }}</h1>
  <div class="mt-6">
    {{ content | safe }}
  </div>
</section>
{% endblock %}
